.logo {
    &-header{
        min-width: 85px;
        min-height: 30px;
        margin-left: 41px;
    }
    &-auth {
        width: 140px;
        height: 40px;
    }
    & gx-icon {
        --icon-width: 100%;
        --icon-height: 100%;
    }
}

@media (max-width: 1024px){
    .logo {
        &-header{
            min-width: 75px;
            min-height: 30px;
            margin-left: 30px;
        }
    }
}
