.checkbox {
  --gx-color-primary-50: var(--ps-color-accent);
  --gx-color-primary-60: var(--ps-color-accent-hover);
  --gx-input-color: var(--ps-color-default);
  --gx-input-font-family: var(--ps-font-family);
  --gx-input-font-size-medium: 14px;
  --gx-input-font-weight: 400;
  --gx-focus-ring-box-shadow: transparent;
  --gx-input-border-color-focus: var(--ps-color-accent-hover);
  --gx-input-border-width: var(--ps-border-width);
  --gx-input-border-color: var(--ps-color-disabled);
  --gx-toggle-size: 18px;
  --gx-transition-fast: 0;
}

.checkbox::part(control) {
  border-radius: 4px;
}