.user{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--ps-color-opacity-black);
    & gx-icon {
      --icon-width: 100%;
      --icon-height: 100%;
    }
    &_menu{ 
        --gx-spacing-large: 10px;
        width: 196px;
      &_item{
        --gx-spacing-large: 10px;
        &:hover{
            &::part(base) {
                background-color: var(--ps-color-white);
                color: var(--ps-color-accent);
              }
        }
        &:active{
            background-color: var(--ps-color-menu-hover);
        }
        &::part(base) {
            font-family: Roboto;
          }
      }
    }
    &_arrow{
      width: 8.66px;
      height: 5.73px;
    }
    &_container{
      display: flex;
      flex-direction: row;
      margin-right: 25.27px;
      align-items: center;
      height: 100%;
      position: relative;
    }
    &_name{
      display: block;
      font-family: Roboto;
      color: var(--ps-color-default);
      margin: 0 10px 0 0;
      max-width: 450px;
    }
    &_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        &:hover {
            .user_name, gx-icon {
                color: var(--ps-color-accent);
            }
        }
    }
  }