.user {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--ps-color-opacity-black);
  & gx-icon {
    --icon-width: 100%;
    --icon-height: 100%;
  }
  &_arrow {
    width: 8.66px;
    height: 5.73px;
  }
  &_container {
    display: flex;
    flex-direction: row;
    margin-right: 25.27px;
    align-items: center;
    height: 100%;
    position: relative;
  }
}
