.loader-layout {
  --gx-color-primary-50: var(--ps-color-accent-active);
  stroke-width: 2px;
  position: fixed;
  top: 80px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--ps-preload-vis);
}

.loader-layout_full{
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1px);
}

.loader-layout gx-spinner::part(base) {
  width: 2em;
  height: 2em;
}

.loader-indicator {
  --gx-color-primary-50: var(--ps-color-white);;
  position: absolute;
  top: 0;
  width: min-content;
  left: 10px;
}

.loader-indicator gx-spinner::part(base) {
  width: 1em;
  height: 1em;
}

@media screen and (max-width: 1200px){
  .loader-layout {
    top: 60px;
  }
  .loader-indicator {
    top: 0;
  }
}