.container {
  display: flex;
  gap: 2%;
  padding: 20px;
  height: calc(100vh - 80px);
  &__right {
    margin-bottom: 20px;
    margin-top: 10px;
    height: calc(100vh - 320px);
    position: relative;
    background-color: var(--ps-background-color);
    @media (max-width: 1200px) {
      height: calc(100vh - 295px);
    }
    &_big {
      height: calc(100vh - 230px);
      @media (max-width: 1200px) {
        height: calc(100vh - 205px);
      }
    }
    &_gragh {
      height: calc(100vh - 325px);
      @media (max-width: 1200px) {
        height: calc(100vh - 300px);
      }
      @media (max-width: 1135px) {
        height: calc(100vh - 325px);
      }
    }
    &_small {
      height: calc(100vh - 360px);
      @media (max-width: 1200px) {
        height: calc(100vh - 335px);
      }
    }
  }
  @media (max-width: 1200px) {
    height: calc(100vh - 60px);
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  width: 25%;
  background-color: var(--ps-color-white);
  padding: 10px;
}

.right {
  width: 73%;
  background-color: red;
  height: 100%;
  background-color: var(--ps-color-white);
  padding: 10px;
}

.header {
  padding-left: 10px;
  margin: 0;
  margin-bottom: 5px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--ps-color-accent);
    bottom: -2px;
    left: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.item {
  position: relative;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.actions {
  display: flex !important;
  justify-content: center;
  gap: 7px;
}

.wrap_row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.wrap_btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text {
  width: 300px;
  word-break: break-word;
  @media (max-width: 1200px) {
    width: 260px;
  }
}

.header_right {
  font-size: 20px;
  margin: 0;
  color: var(--ps-border-color-hover);
  margin-top: -5px;
}

.grid_row {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr)) minmax(auto, 0.5fr);
  column-gap: 5%;
  align-items: end;
  margin: 10px 0 20px 0;
}

.period {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 68.5vw;
  &__text {
    margin: 0;
  }
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password {
  color: var(--ps-background-color);
  background-color: var(--ps-background-color);
}

.password:hover {
  color: var(--ps-border-color-hover);
}
