.fieldset {
    border: 0 none;
    padding: 0;
    position: relative;
}

.fieldset-error gx-input,
.fieldset-error {
    --gx-input-border-color: var(--df-color-red);
    --gx-input-border-color-hover: var(--df-color-red-hover);
    --gx-input-border-color-focus: var(--df-color-red-hover);
}