@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --ps-input-height: 40px;
  --ps-background-color: #F6F8FA;
  --ps-border-width: 2px;
  --ps-color-default: #002C44;
  --ps-border-color-default: 	hsla(201, 100%, 13%, 0.25);
  --ps-border-color-hover: 	hsla(201, 100%, 13%, 0.5);
  --ps-border-color-light: #E6EAED;
  --ps-color-accent: #009BA4;
  --ps-color-accent-hover: #03BBC6;
  --ps-color-accent-active: #03959D;
  --ps-color-error-box-shadow: hsla(0, 80%, 53%, 0.35);
  --ps-color-disabled: #BFCAD0;
  --ps-color-red: #E72525;
  --ps-color-row-arhive:hsla(0, 80%, 53%, 0.05);
  --ps-color-yellow: #8d8f27e5;
  --ps-color-row-edited:hsla(53, 80%, 53%, 0.15);
  --ps-color-red-hover: #FF0000;
  --ps-color-red-active: #d6b2b2;
  --ps-font-family: 'Roboto', sans-serif;
  --ps-box-shadow: 0px 0px 14px var(--ps-border-color-default);
  --ps-color-opacity-black: #f2f4f6;
  --ps-color-menu-hover: #EDF8F8;
  --ps-color-white: white;
  --ps-input-color: rgba(0, 44, 68, 0.5);
  --ps-preload: rgba(white, 0);
  --ps-preload-vis: rgba(white, 0.5);
  --ps-table-hover: rgba(0, 155, 164, 0.07);
  --ps-scroll-ligth: rgba(0,0,0,.1)
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
  scrollbar-color: var(--ps-color-accent) var(--ps-scroll-ligth);
  scrollbar-width: thin;
}

body {
  width: 100%;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: var(--ps-font-family);
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: black;
  background: var(--ps-background-color);
  overscroll-behavior: none;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

a {
  cursor: pointer;
  color: blue;
  transition: .2s;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: var(--ps-scroll-ligth);
    margin: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ps-color-accent);
  }
}

gx-modal {
  --gx-scrollbar-width: 5px;
  --gx-scrollbar-height: 5px;
  --gx-scrollbar-track-color: var(--ps-scroll-ligth);
  --gx-scrollbar-thumb-color: var(--ps-color-accent);
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.char-arrow {
  margin: 0 10px;
  font-size: 20px;
}