.select {
  --gx-input-height-medium: 40px;
  --gx-input-font-size-medium: 16px;
  --gx-input-border-radius-medium: 6px;
  --gx-input-color: var(--ps-color-default);
  --gx-input-font-family: var(--ps-font-family);
  --gx-input-border-width: 2px;
  --gx-input-border-color: var(--ps-border-color-default);
  --gx-input-border-color-hover: var(--ps-border-color-hover);
  --gx-input-border-color-focus: var(--ps-border-color-hover);
  // label
  --gx-input-label-font-size-medium: 14px;
  --gx-input-label-color: var(--ps-border-color-hover);
  --gx-spacing-xxx-small: 7px;
}

.select::placeholder::part(input) {
  color: var(--ps-border-color-hover);
  
}

.select::part(label) {
  font-weight: 500;
  line-height: 16px;
}

@media (max-width: 1200px) {
  .select {
    --gx-input-height-medium: 35px;
  }
}