.button {
  --gx-input-height-medium: 40px;
  --gx-color-primary-50: var(--df-color-accent);
  --gx-color-primary-60: var(--df-color-accent-active);
  --gx-input-border-radius-medium: 6px;
  --gx-input-border-width: 2px;
  --gx-button-font-size-medium: 16px;
  --gx-input-line-height-medium: 19px;
  --gx-font-weight-semibold: 500;
  --gx-color-danger-50: var(--df-color-red);
  // --gx-input-line-height-medium: 1;
  font-family: var(--df-font-family);
  position: static;
  @media (max-width: 1100px) {
    --gx-button-font-size-medium: 15px;
    --gx-spacing-large: 1rem;
  }
}

.button::part(base) {
  align-items: center;
  min-width: 140px;
}

.button:hover {
  --gx-color-primary-60: var(--df-color-accent-hover);
}

.button:active {
  --gx-color-primary-60: var(--df-color-accent-active);
}

.button::part(base):focus,
.button::part(base):active,
.button::part(base):focus-visible {
  --gx-color-primary-40: var(--df-color-accent-active);
  --gx-color-primary-60: var(--df-color-accent-hover);
  outline: none;
  box-shadow: none;
}

.dropdown-btn {
  width: 100%;
  --gx-button-font-size-medium: 14px;
  --gx-color-primary-50: var(--df-border-color-hover);
  --gx-spacing-large: 0px;

  position: relative;
}

.dropdown-btn::part(base) {
  width: 100%;
}

.dropdown-btn:hover {
  --gx-color-primary-60: var(--df-color-accent-hover);
}

.dropdown-btn:active,
.dropdown-btn::part(base):focus {
  --gx-color-primary-60: var(--df-color-accent-active);
  box-shadow: none;
}

.dropdown-btn-open-dropdown{
  --gx-color-primary-50: var(--df-color-accent-active);
}

.dropdown-btn::part(base) {
  min-width: unset;
  align-items: center;
  display: flex;
  column-gap: 5px;
}

.sort-btn {
  width: 100%;
  height: 46px;
}

.sort-btn::part(base) {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.sort-btn-first::part(base) {
  --gx-color-primary-50: var(--df-color-disabled);
}

.search-btn {
  margin: 0;
}

.search-btn::part(base) {
  padding: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  color: rgba(#002C44, 0.5);
}

.search-btn::part(base):focus,
.search-btn::part(base):active,
.search-btn::part(base):focus-visible {
  outline: none;
  box-shadow: none;
}

.search-btn:hover::part(base) {
  color: var(--df-color-accent);
}

.button-edit-copy,
.button-edit-edit {
  width: 18px;
  height: 18px;
}

.button-edit-copy::part(base),
.button-edit-edit::part(base) {
  --gx-color-primary-50: var(--df-color-disabled);
  min-width: 18px;
  width: 18px;
  height: 18px;
  padding: 0;
}

.button-edit-copy gx-icon,
.button-edit-edit gx-icon {
  margin-left: 0;
  margin-right: 0;
}

.button-edit-copy::part(base):hover,
.button-edit-edit::part(base):hover {
  --gx-color-primary-60: var(--df-color-accent);
}

.button-edit-copy:active,
.button-edit-copy::part(base):focus,
.button-edit-edit:active,
.button-edit-edit::part(base):focus {
  --gx-color-primary-40: var(--df-color-accent-active);
  --gx-color-primary-60: var(--df-color-accent-hover);
  box-shadow: none;
}

.btn-add {
  width: 100%;
  height: 40px;
}

.btn-add::part(base) {
  width: 100%;
  height: 100%;
  min-width: 100%;
  padding: 0;
}

.btn_width-100 {
  width: 100%;
}

.btn_width-100::part(base) {
  width: 100%;
  min-width: 100%;
}

.btn-back {
  --gx-spacing-large: 0;
  --gx-input-height-medium: auto;
  --gx-input-line-height-medium: 1;
}

.btn-back::part(base) {
  align-items: flex-start;
}

.margin-rigth {
  margin-right: 17px;
}

@media (max-width: 1200px) {
  .button {
    --gx-input-height-medium: 35px;
  }
  .btn-add {
    height: 35px;
  }

  .btn-add::part(base) {
    min-width: 100%;
  }
}


.dropdown-btn[disabled]::part(base) {
  opacity: 1 !important;
}

.buttonDis:not([disabled='false'])[disabled]::part(base){
  border-color: var(--df-color-disabled);
  color: var(--df-color-white);
  opacity: 1;
  background-color: var(--df-color-disabled);
}

.outline:not([disabled='false'])[disabled]::part(base){
  border-color: var(--df-color-disabled);
  color: var(--df-color-disabled);
  opacity: 1;
  background-color: transparent;
}

.showAll::part(base){
  position:absolute;
  right: 20px;
}

.excel::part(base){
  min-width: 0px;
  padding: 0;
  border: none;
}
.excel:hover::part(base){
  --gx-color-primary-60: var(--df-color-accent-hover);
}
.excel:not([disabled='false'])[disabled]::part(base){
  color: var(--df-color-disabled);
}